/*   */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* COMMON */
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  font-size: 16px;
  background: linear-gradient(90deg, #ded5fe, #f6f4fe);
}

a {
  text-decoration: none;
  color: #222529;
}

.inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

/* ICONS */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 20px;
  vertical-align: middle;
}

.material-symbols-outlined.small {
  font-size: 16px;
  /* 애초에 안보이는 아이콘이므로 투명 처리, 아래에서 hover 시 보이도록 처리 예정 */
  opacity: 0;
  transition: 0.4s;
}

/* HEADER */
header:hover {
  background-color: #fff;
}

header > .inner {
  height: 72px;
  margin: auto;
  display: flex;
  padding: 0 24px;
}

header > .inner .header__logo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 32px;
  margin: auto;
}

header .inner .header__logo > img {
  display: block;
  width: 105px;
  height: 32px;
}

header .inner .header__menu {
  display: flex;
  position: absolute;
  left: 150px;
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .inner .header__menu .item {
  margin: 0 14px 0 0;
}

header .inner .header__menu .item:hover {
  background-color: #f1f3f5;
  border-radius: 4px;
}

header .inner .header__menu .item .item__name {
  display: block;
  padding: 12px 11px;
  height: 40px;
  box-sizing: border-box;
}

header .inner .header__menu .item .item__name a {
  color: #222529;
}

header .inner .header__menu .item:hover .item__name a span {
  transition: 0.4s;
  transform: rotate(180deg);
}

/* 드롭 다운 구현 시작 */
header .inner .header__menu .item .item__content {
  /* 화면 전체 사용을 위한 fixed 선언 */
  position: fixed;
  background-color: whitesmoke;
  /* 요소 상의 부모 위치를 따라 가므로 left: 0 으로 뷰포트 기준으로 처리 */
  left: 0;
  /* 요소 상의 부모 크기가 아니라 뷰포트의 크기를 받기 위해 100% 처리 */
  width: 100%;

  /* 메뉴에 hover 시 메뉴와 item__content의 사이의 거리가 있어서
  hover가 풀어져서 item__content 에 마우스를 올릴 수가 없는 문제 발생
  
  해당 문제를 해결하기 위해 item__content 의 z-index를 주어 위로 올리고
  top 을 메뉴 아이템의 바로 아래에 위치하게 조절하여 hover 가 유지되도록 수정 */
  top: 56px;
  z-index: 1;

  /* hover 상태에서만 보여야 하므로 display none 처리 */
  display: none;
}

/* 드롭 다운 구현 시작 */
header .inner .header__menu .item .item__contents {
  /* 화면 전체 사용을 위한 fixed 선언 */
  position: fixed;
  background-color: whitesmoke;
  /* 요소 상의 부모 위치를 따라 가므로 left: 0 으로 뷰포트 기준으로 처리 */
  left: 0;
  /* 요소 상의 부모 크기가 아니라 뷰포트의 크기를 받기 위해 100% 처리 */
  width: 100%;

  /* top 값을 헤더랑 동일하게 주면 hover 유지가 안되어서 컨텐츠로 접근이 안되는 문제 발생 */
  top: 70px;
  z-index: 1;

  /* hover 상태에서만 보여야 하므로 display none 처리 */
  display: none;
}

header .inner .header__menu .item:hover .item__content {
  /* hover 시 보이도록 처리 */
  display: block;
}

header .inner .header__menu .item:hover .item__contents {
  /* hover 시 보이도록 처리 */
  display: block;
}

header .inner .header__menu .item .item__content .inner {
  /* 위에서 hover 유지를 위해 top 값을 줄였기 때문에 padding 을 늘려서 커버 */
  padding: 36px 0 0 20px;
  display: flex;
}

header .inner .header__menu .item .item__content .inner > li {
  width: 420px;
  padding-right: 20px;
}

header .inner .header__menu .item .item__content .inner > li > ul > p {
  font-size: 14px;
  color: #222529;
  margin-bottom: 20px;
}

header .inner .header__menu .item .item__content .inner > li > ul > li {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 20px 0;
}

header .inner .header__menu .item .item__content .inner > li > ul > li:hover {
  background-color: #f1f3f5;
  cursor: pointer;
}

header
  .inner
  .header__menu
  .item
  .item__content
  .inner
  > li
  > ul
  > li:hover
  span {
  opacity: 1;
}

header .inner .header__menu .item .item__content .inner > li > ul > li > img {
  /* 이미지는 float 속성을 사용하여 처리 */
  float: left;
  width: 40px;
  display: block;
  margin-right: 10px;
}

header .inner .header__menu .item .item__content .inner > li > ul > li > div {
  line-height: 2;
}

header .inner .header__menu .item .item__content .inner .gray {
  color: gray;
}

header .inner .header__btn {
  display: flex;
  position: absolute;
  right: 0;
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .inner .header__btn > div {
  margin-left: 15px;
  height: 40px;
}

header .inner .header__btn .btn--login {
  line-height: 40px;
}

header .inner .header__btn .btn--login a:hover {
  text-decoration: underline;
}

header .inner .header__btn .btn--inquire {
  box-sizing: border-box;
  padding: 8px 16px;
  background-color: #353a3f;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  line-height: 24px;
}

header .inner .header__btn .btn--inquire:hover {
  background-color: #4a5056;
  cursor: pointer;
}
